*{
    padding: 0;
    margin: 0;
}
:root{
    --mainColor :#E1BEE7;
    --mainborder:#F06292;
    --sectionColor:#F3E5F5;
    --buttunRun:#BA68C8;
    --buttonDelete:#F50057;
    --buttonGet:#AB47BC;
}

main{
    background-color: var(--sectionColor);
    padding: 10px;
}
header{
    background-color: var(--mainColor);
}

header .navbar .container-fluid .navbar-brand img{
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}




.section_code .form-outline{
    position: relative;
}
.section_code .form-outline .copy{
position: absolute;
top: 5px;
right: 25px;
border: none;
background-color: var(--mainColor);
padding: 2px 6px;
border-radius: 10px;
}
.button_click{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 10px;
}
.button_click button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    width: 18%;
}


#run{
background-color: var(--buttunRun);
}
#D_code{
    background-color: var(--buttonDelete);
}
#D_codeSaved{
    background-color: var(--buttonDelete);
}
#D_result{
    background-color: var(--buttonDelete);
}
#G_code{
    background-color: var(--buttonGet);
}

.section_result{
    padding: 20px;
    margin-top: 20px;
}

.section_result .title{
display: flex;
flex-wrap: nowrap;
justify-content: center;
}
#result{
    height: 600px;
    border: 2px groove #1266F1;
    border-radius: 10px;
    max-width: 100% !important;

}


#footer{
    background-color: var(--mainColor);
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    background-color: var(--mainColor);
    border-radius: 5px;
}
@media (max-width:767px)
{
    .button_click{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

    }
    .button_click button{
        width: 90%;
    }
}




.dark-mode{
    background:#000000;
    color: white;
}

.darkmodebody{
    background-color: #232526;
    color: white !important;
}
